global
    log 127.0.0.1 len 65535 local1 debug
    {% if hostname %}
    log-send-hostname {{hostname}}
    {% endif %}

    nbproc {{cpu_count-cpu_reserved}}
    {% for cpu in range(cpu_reserved,cpu_count) %}  cpu-map {{cpu}} {{cpu}}
    {% endfor %}
    {% for cpu in range(cpu_reserved,cpu_count) %}stats socket  /var/run/haproxy-{{cpu}}.sock mode 0600 level admin process {{cpu}}
    {% endfor %}
    pidfile         /var/run/haproxy.pid
    user            haproxy
    group           haproxy
    daemon

{% raw %}

defaults
    log           global
    mode          http
    errorfile     408 /dev/null

    log-format    {"bytes_uploaded":"%U","bytes_read":"%B","client_ip":"%ci","client_port":"%cp","backend_source_ip":"%bi","backend_source_port":"%bp","frontend_ip":"%fi","frontend_port":"%fp","hostname":"%H","unique-id":"%ID","server_ip":"%si","server_port":"%sp","gmt_date_time":"%T","tc":"%Tc","tq":"%Tq","tr":"%Tr","haproxy_timestamp":"%Ts","time":"%Tt","tw":"%Tw","actconn":"%ac","backend":"%b","beconn":"%bc","backend_queue":"%bq","captured_request_cookie":"%CC","http_request_counter":"%rt","captured_response_cookie":"%CS","frontend":"%f","frontend_name_transport":"%ft","feconn":"%fc","http_request":"%r","captured_request_headers":"%hr","pid":"%pid","retries":"%rc","server_name":"%s","srv_conn":"%sc","srv_queue":"%sq","ssl_ciphers":"%sslc","ssl_version":"%sslv","code":"%ST","date_time":"%t","termination_state":"%ts","local_date_time":"%Tl"}

listen           stats
{% endraw %}
    {% for cpu in range(cpu_reserved,cpu_count) %}bind 0.0.0.0:80{{"%02d"|format(cpu)}} process {{cpu}}
    {% endfor %}
{% raw %}
    mode         http
    option       httpclose
    stats        uri /stats
    stats        realm Global\ statistics
    maxconn      50

frontend         web

    bind         0.0.0.0:443 name web-https ssl crt /etc/haproxy/cert.pem

    compression  algo gzip
    compression  type text/html text/plain text/javascript application/javascript application/xml text/css application/json text/xml

{% endraw %}

    default_backend appa

backend         appa
    option      httpchk HEAD /health/ HTTP/1.0
    http-check  expect status 200
    balance     leastconn
    timeout     http-keep-alive 1
    no option   redispatch
    retries     0
{% endraw %}
    {% for i in instances['appa']|sort(attribute='name') %}server {{i.name}} {{i.ip_address}}:80 check inter 20000 fastinter 1000 downinter 2000 rise 2 fall 6 observe layer7 maxconn 1000
    {% endfor %}

{% if instances['appb'] %}
{% raw %}
backend         appb
    option      httpchk HEAD /health/ HTTP/1.0
    http-check  expect status 200
    balance     leastconn
    timeout     http-keep-alive 1
    no option   redispatch
    retries     1
{% endraw %}
    {% for i in instances['appb']|sort(attribute='name') %}server {{i.name}} {{i.ip_address}}:80 check inter 20000 fastinter 1000 downinter 2000 rise 2 fall 6 observe layer7 maxconn 1000
    {% endfor %}
{% endif %}
